
html, body { 
    height: 100%;
    margin: 0;
  }

.main {
    text-align: center;
    background-image: url("../imgResources/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; /*cover all page */
    background-attachment: fixed /* still image regardless of scroll*/ 
}

.titleMain{
    margin-top: 30px;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(5, 5, 5),rgb(236, 234, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px rgb(10, 10, 10);
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow:
      0 0 40px rgb(230, 255, 2),
      0 0 80px rgb(241, 238, 8),
      0 0 90px rgb(92, 252, 0),
      0 0 100px rgb(196, 250, 1),
      0 0 150px rgb(222, 247, 5);
}




.audio-player{
    background-color: transparent;
    width: 100px;
    height: 30px;
    position: relative;
    left: 650px;
    top: 5px;
    display: flex;
    justify-content: center;
}

.audio-player button{
    color: #0c0c0c;
    background-color: rgb(197, 252, 0);
    width: 40px;
    height: 30px;
    font-size: 20px;
    border: solid 2px #fdfdfc;
}


.catalogo{
    position: relative;
    left: 340px;
    width: 600px;
    height: 350px;
    overflow: hidden;
    margin: 50px;
    border-radius: 10px;
}


.catalogo-inner{
    display: flex;
     transition: transform 0.7s ease-in-out;
}


.catalogo-item {
    min-width: 100%;
    box-sizing: border-box;
}

.logoBig{
    width: 250px;
}

.logoSmall{
    width: 470px;
}


.catalogo-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(252, 248, 248);
    font-size: 80px;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
}

.catalogo-control:hover{
    filter: drop-shadow(0 0 10px rgb(227, 252, 3)); 
}

.prevButton {
    left: 40px;
}

.nextButton {
    right: 40px;
}

.openSelector{
    width: 100px;
    height: 40px;
    margin: 30px;
    position: relative;
    bottom: 70px;
    font-size: 30px;
    font-family: fantasy;
    left: 30px;
    background-color: #f4f802;
    animation: animation 3s linear infinite;
}


@keyframes animation {
    0% {
      transform: scaleX(0.7);
      transform: scaleY(0.8);
      
    }
    50% {
        transform: scaleX(0.9);
  
    }
    75% {
        transform: scaleX(0.9);
        
    }
    100% {
        transform: scaleX(0.7);
        transform: scaleY(0.8);
        
    }
  }
  
  .openSelector:hover{
    filter: drop-shadow(0 0 10px rgb(227, 252, 3)); 
    animation-play-state: paused;
  }


footer{
    position: absolute;
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: center;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(0, 0, 0);
   
}

.credits{
    color: rgb(237, 240, 240);
    margin-right: 10px;
    margin-top: 60px;
}

.aFooter{
    font-size: 40px;
    color: rgb(240, 240, 240);
    margin-top: 45px;
}

